.add-local-container {
  background-color: #10141D;
  color: #EBF0F9;
  min-height: 100vh;
  max-width: 1224px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 8px;
}

.breadcrumb {
  font-size: 14px;
  color: #BABBBF;
  margin-bottom: 16px;
}

.add-local-container h2 {
  font-size: 36px;
}

.add-local-container p {
  font-size: 18px;
  color: #BABBBF;
  margin-bottom: 32px;
}

.content-wrapper {
  background-color: #000000;
  padding: 16px;
  border-radius: 8px;
}

.form-section {
  margin-bottom: 32px;
}

.form-section h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}


.form-group input.is-invalid {
  border-color: #FF0000;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.form-group .form-control.is-invalid {
  border-color: #FF0000;
  padding-right: calc(1.5em + 0.75rem);
}

.form-group .form-control.is-invalid:focus {
  border-color: #FF0000;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.form-group .form-control:invalid~.invalid-feedback {
  display: block;
}

.form-group label {
  margin-bottom: 8px;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #1B1F24;
  color: #EBF0F9;
}

.form-group input::placeholder {
  color: #7A7F8D;
}

.input-button-group {
  display: flex;
  align-items: center;
}

.input-button-group .form-control {
  flex: 1;
  margin-right: 8px;
}

.input-button-group .btn {
  padding: 0 12px;
  font-size: 18px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: #9ed0e6;
  color: #688899;
  border-radius: 4px;
}

.tag button {
  background: none;
  border: none;
  color: #688899;
  margin-left: 8px;
  cursor: pointer;
}

.tag button:hover {
  color: #FF0000;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.mr-2 {
  margin-right: 8px;
}

.btn-secondary {
  background-color: #10141D;
  color: #EBF0F9;
  border: solid 1px #EBF0F9;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #D3DCE6;
  color: #10141D;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-secondary:hover,
.btn-primary:hover {
  opacity: 0.9;
}