.section-wrapper {
    margin: 16px 0;
    background: #10141d;
    border-radius: 8px;
    padding: 16px;
    width: 49%;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .section-title {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .section-link {
    color: blue;
    text-decoration: none;
  }
